src/META-INF/wsdl/localhost_8080/TDWsSoapAviation/Avions.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://aviation.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://aviation.ws/" name="Avions">
<types>
<xsd:schema>
<xsd:import namespace="http://aviation.ws/" schemaLocation="http://localhost:8080/TDWsSoapAviation/Avions?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="GetStation">
<part name="parameters" element="tns:GetStation"/>
</message>
<message name="GetStationResponse">
<part name="parameters" element="tns:GetStationResponse"/>
</message>
<message name="JAXBException">
<part name="fault" element="tns:JAXBException"/>
</message>
<message name="MalformedURLException">
<part name="fault" element="tns:MalformedURLException"/>
</message>
<portType name="Avions">
<operation name="hello">
<input wsam:Action="http://aviation.ws/Avions/helloRequest" message="tns:hello"/>
<output wsam:Action="http://aviation.ws/Avions/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="GetStation">
<input wsam:Action="http://aviation.ws/Avions/GetStationRequest" message="tns:GetStation"/>
<output wsam:Action="http://aviation.ws/Avions/GetStationResponse" message="tns:GetStationResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://aviation.ws/Avions/GetStation/Fault/JAXBException"/>
<fault message="tns:MalformedURLException" name="MalformedURLException" wsam:Action="http://aviation.ws/Avions/GetStation/Fault/MalformedURLException"/>
</operation>
</portType>
<binding name="AvionsPortBinding" type="tns:Avions">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetStation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="MalformedURLException">
<soap:fault name="MalformedURLException" use="literal"/>
</fault>
</operation>
</binding>
<service name="Avions">
<port name="AvionsPort" binding="tns:AvionsPortBinding">
<soap:address location="http://localhost:8080/TDWsSoapAviation/Avions"/>
</port>
</service>
</definitions>